<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="topbar" class="ui blue inverted segment attached topbar-item-padding">
    <div class="ui container">
        <div class="ui menu secondary">
            <h2 class="ui header item topbar-item-font">后台管理</h2>
            <a href="#" class="item topbar-item-font"><i class="icon home"></i>博客展示</a>
            <div class="right item">
                <div class="ui input transparent">
                    <input type="text" class="text" placeholder="搜索...">
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="ui vertical menu secondary" th:fragment="sidebar">
    <a class="item "><p class="sidebar-item-font"><i class="home icon"></i>后台管理首页</p></a>
    <a class="item "><p class="sidebar-item-font"><i class="icon edit outline"></i>写博客</p></a>
    <div class="item ui styled accordion">
        <div class="title">
            <i class="dropdown icon"></i>管理博客
        </div>
        <div class="content">
            <a href="" class="item"><p><i class="left icon redo"></i>文章管理</p></a>
            <a href="" class="item"><p><i class="left icon tags"></i>标签管理</p></a>
            <a href="" class="item"><p><i class="left icon bell outline"></i>评论管理</p></a>
        </div>
    </div>
</div>
</body>
</html>