<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="Semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/mycss.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="Semantic/semantic.min.js"></script>
</head>
<body>
<div th:replace="commons/bar::topbar"></div>
<div class="ui grid">
    <div class="three wide column">
        <div th:replace="commons/bar::sidebar"></div>
    </div>
    <div class="thirteen wide column ">
        <div th:replace="commons/articleList::articleList"></div>
    </div>
</div>
<script>
    $('.ui.accordion').accordion();
</script>
</body>
</html>