<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>
<!--    <link rel="stylesheet" type="text/css" href="Semantic/semantic.min.css">-->
    <link rel="stylesheet" type="text/css" href="css/mycss.css">
<!--    <script src="Semantic/semantic.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js"></script>
</head>
<body>
<div th:replace="commons/bar::topbar"></div>
<div class="ui grid">
    <div class="three wide column">
        <div th:replace="commons/bar::sidebar"></div>
    </div>
    <div class="thirteen wide column ">
        <div th:replace="commons/article::article"></div>
    </div>
</div>
<script src="textboxio/textboxio.js"></script>
<script>
    var config = {
        image: {
            upload: {
                url: '/article/content/image',
                credentials: false
            },
            editing: {
                enabled: false,
                preferredWidth: 960,
                preferredHeight: 720
            }
        }
    }
    textboxio.replace('textarea', config);
</script>
<script>
    $('.ui.accordion').accordion();
</script>
</body>
</html>